---
import Container from '../ui/Container.astro';
import Heading from '../ui/Heading.astro';
import type { Translations } from '@/i18n/schema.ts';

type Props = {
  t: Translations['aboutMe'];
};

const { t } = Astro.props;
---

<section id="about">
  <Container className="flex flex-col gap-8 md:gap-12 lg:gap-16">
    <Heading title={t.title} description={t.description} />
    <div class="grid gap-5 text-base lg:text-lg text-justify md:gap-18 lg:grid-cols-2">
      <div class="flex flex-col gap-5">
        {t.text.slice(0, Math.ceil(t.text.length / 2)).map((paragraph) => (
          <Fragment set:html={paragraph} />
        ))}
      </div>
      <div class="flex flex-col gap-5">
        {t.text.slice(Math.ceil(t.text.length / 2)).map((paragraph) => (
          <Fragment set:html={paragraph} />
        ))}
      </div>
    </div>
  </Container>
</section>
