---
import Container from '../ui/Container.astro';
import Heading from '../ui/Heading.astro';
---

<section id="about">
  <Container>
    <Heading
      title="Sobre mí"
      description="Frontend Engineering impulsado por IA, visión de producto y liderazgo de proyectos"
    />
  </Container>
</section>
