---
import Container from '../ui/Container.astro';
import Claim from '../ui/Claim.astro';
import type { Translations } from '@/i18n/schema.ts';

type Props = {
  t: Translations['claim'];
};

const { t } = Astro.props;
---

<section
  id="claim"
  class="flex flex-col justify-center min-h-dvh py-20 bg-gray-50"
>
  <Container data-reveal className="text-subtle text-center">
    <Claim text={t.text} />
  </Container>
</section>
