---
import Container from '../ui/Container.astro';
import Claim from '../ui/Claim.astro';
import type { Translations } from '@/i18n/schema.ts';

type Props = {
  t: Translations['claim'];
};

const { t } = Astro.props;
---

<div id="claim">
  <Container className="text-subtle text-center max-w-4xl">
    <Claim text={t.text} />
  </Container>
</div>
