---
import Container from '../../components/ui/Container.astro';
import Claim from '../../components/ui/Claim.astro';
import type { Translations } from '@/i18n/schema.ts';

type Props = {
  t: Translations['featuredClaim'];
};

const { t } = Astro.props;
---

<div class="bg-accent text-center text-accent-soft p-8">
  <Container>
    <Claim text={t.text} />
  </Container>
</div>
