---
import type { Translations } from '@/i18n/schema.ts';
import Container from '../ui/Container.astro';
import Icon from '../ui/Icon.astro';

type Props = {
  t: Translations['social'];
};

const { t } = Astro.props;
---

<section id="social" aria-label={t.label}>
  <Container>
    <ul class="flex justify-center gap-8 mb-32">
      {
        t.items.map((item) => (
          <li>
            <a
              class="hover:text-accent"
              href={item.href}
              target="_blank"
              rel="noopener noreferrer"
              aria-label={item.title}
            >
              <Icon name={item.icon} size="xl" className="size-8 lg:size-12" />
            </a>
          </li>
        ))
      }
    </ul>
  </Container>
</section>
