---
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const { title = 'Aurelio Franco', description = 'Frontend Developer' } =
  Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>

  <body>
    <main class="flex flex-col gap-20">
      <slot />
    </main>
  </body>
</html>
