---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

interface Props extends HTMLAttributes<'div'> {
  className?: string;
}

const { className, ...rest } = Astro.props;
const baseClassName = 'container mx-auto max-w-6xl';
const fullClassName = twMerge(baseClassName, className);
---

<div class={fullClassName} {...rest}>
  <slot />
</div>
