---
import { twMerge } from 'tailwind-merge';

type Props = {
  title: string;
  titleClassName?: string;
  description?: string;
  descriptionClassName?: string;
  align?: 'left' | 'center' | 'right';
};

const {
  title,
  titleClassName,
  description,
  descriptionClassName,
  align = 'left',
} = Astro.props;
---

<div
  class:list={[
    'flex flex-col gap-5',
    { 'justify-center items-center': align === 'center' },
    { 'justify-end items-end': align === 'right' },
  ]}
>
  <h2 class={twMerge('text-5xl text-foreground font-black', titleClassName)}>
    {title}
  </h2>
  {description && (
    <p
      class={twMerge(
        'text-2xl text-accent md:w-1/2',
        align === 'center' && 'text-center',
        align === 'right' && 'text-right',
        descriptionClassName,
      )}
    >
      {description}
    </p>
  )}
</div>
