---
import Icon from '../ui/Icon.astro';
import type { IconName } from '../../types/icons.ts';

type Props = {
  icon: IconName;
  title: string;
  description?: string;
  align: 'left' | 'center';
};

const { icon, title, description, align = 'left' } = Astro.props;
---

<div
  class:list={[
    'flex flex-col gap-4',
    { 'justify-start': align === 'left' },
    { 'items-center text-center': align === 'center' },
  ]}
>
  <Icon name={icon} size="3xl" variant="square" />
  <h3 class="text-foreground text-2xl font-extrabold">
    {title}
  </h3>
  {description && <p class="text-subtle text-lg mt-2" set:html={description} />}
</div>
