---
import type { IconName } from '@/types/icons.ts';
import { twMerge } from 'tailwind-merge';

type Props = {
  name: IconName;
  className?: string;
  title?: string;
  size?: 'xs' | 'sm' | 'md' | 'lg' | 'xl' | '2xl' | '3xl';
  variant?: 'plain' | 'square';
};

const { name, className, size = 'xs', title, variant = 'plain' } = Astro.props;

const sizeClass = {
  xs: 'size-6',
  sm: 'size-7',
  md: 'size-8',
  lg: 'size-10',
  xl: 'size-12',
  '2xl': 'size-14',
  '3xl': 'size-16',
}[size];
---

<svg
  class={twMerge(
    sizeClass,
    variant === 'square' && 'border p-2.5 rounded-xl',
    'shrink-0',
    className,
  )}
  fill="none"
  aria-hidden={title ? undefined : 'true'}
  role={title ? 'img' : 'presentation'}
>
  {title && <title>{title}</title>}
  <use href={`/icons.svg#${name}`}></use>
</svg>
