---
import type { IconName } from '../../types/icons.ts';

type Props = {
  name: IconName;
  class?: string;
  title?: string;
  size?: 'xs' | 'sm' | 'md' | 'lg' | 'xl' | '2xl' | '3xl';
  variant?: 'plain' | 'square';
};

const {
  name,
  class: className = 'size-6',
  size = 'xs',
  title,
  variant = 'plain',
} = Astro.props;
---

<svg
  class:list={[
    { 'size-6': size === 'xs' },
    { 'size-8': size === 'md' },
    { 'size-10': size === 'lg' },
    { 'size-12': size === 'xl' },
    { 'size-14': size === '2xl' },
    { 'size-16': size === '3xl' },
    { 'border p-2.5 rounded-xl': variant === 'square' },
    className,
  ]}
  fill="none"
  aria-hidden={title ? undefined : 'true'}
  role={title ? 'img' : 'presentation'}
>
  {title && <title>{title}</title>}
  <use href={`/icons.svg#${name}`}></use>
</svg>
