---
import Icon from '@/components/ui/Icon.astro';
import type { IconName } from '@/types/icons.ts';
import { twMerge } from 'tailwind-merge';

type Props = {
  icon: IconName;
  iconClassName?: string;
  title: string;
  titleClassName?: string;
  description?: string;
  descriptionClassName?: string;
  align?: 'left' | 'center';
  variant?: 'stacked' | 'list';
};

const {
  icon,
  iconClassName,
  title,
  titleClassName,
  description,
  descriptionClassName,
  align = 'left',
  variant = 'stacked',
} = Astro.props;
---

<div
  class:list={[
    'flex gap-4',
    { 'flex-col': variant === 'stacked' },
    { 'flex-col lg:flex-row': variant === 'list' },
    { 'justify-start': align === 'left' },
    { 'items-center text-center': align === 'center' },
  ]}
>
  <Icon
    name={icon}
    className={twMerge(variant === 'stacked' && 'size-12 lg:size-16', iconClassName)}
    size={variant === 'stacked' ? '3xl' : 'md'}
    variant={variant === 'stacked' ? 'square' : 'plain'}
  />
  <div>
    <h3
      class={twMerge('text-foreground text-xl lg:text-2xl font-extrabold', titleClassName)}
    >
      {title}
    </h3>
    {
      description && (
        <div
          class={twMerge(
            'text-subtle text-base lg:text-lg mt-2 flex flex-col gap-5',
            descriptionClassName,
          )}
          set:html={description}
        />
      )
    }
  </div>
</div>
